body{ 
    background: darkcyan; 
    font-family: roboto; 
    text-align: center; 
} 
     
h1{ 
    color: #fff; 
} 
     
div{ 
    margin: 10px; 
} 
     
.kotak{ 
    background: #fff; 
    width: 100px; 
    height: 100px; 
    transition: width 5s; 
    -webkit-transition: width 5s; 
} 
     
.kotak:hover{ 
    width: 400px; 
} 
     
.kotak2{ 
    background: #fff; 
    width: 100px; 
    height: 100px; 
    transition: width 5s, height 6s; 
    -webkit-transition: width 5s, height 6s; 
} 
     
.kotak2:hover{ 
    width: 300px; 
    height: 300px; 
} 